brick/math                         0.14.8  Arbitrary-precision arithmetic library
carbonphp/carbon-doctrine-types    3.2.0   Types to use Carbon in Doctrine
dflydev/dot-access-data            3.0.3   Given a deep data structure, access ...
doctrine/inflector                 2.1.0   PHP Doctrine Inflector is a small li...
doctrine/lexer                     3.0.1   PHP Doctrine Lexer parser library th...
dragonmantank/cron-expression      3.6.0   CRON for PHP: Calculate the next or ...
egulias/email-validator            4.0.4   A library for validating emails agai...
fakerphp/faker                     1.24.1  Faker is a PHP library that generate...
filp/whoops                        2.18.4  php error handling for cool kids
fruitcake/php-cors                 1.4.0   Cross-origin resource sharing librar...
graham-campbell/result-type        1.1.4   An Implementation Of The Result Type
guzzlehttp/guzzle                  7.10.4  Guzzle is a PHP HTTP client library
guzzlehttp/promises                2.4.1   Guzzle promises library
guzzlehttp/psr7                    2.10.1  PSR-7 message implementation that al...
guzzlehttp/uri-template            1.0.6   A polyfill class for uri_template of...
hamcrest/hamcrest-php              2.1.1   This is the PHP port of Hamcrest Mat...
laravel/framework                  12.60.2 The Laravel Framework.
laravel/pail                       1.2.6   Easily delve into your Laravel appli...
laravel/pint                       1.29.1  An opinionated code formatter for PHP.
laravel/prompts                    0.3.18  Add beautiful and user-friendly form...
laravel/sail                       1.60.0  Docker files for running a basic Lar...
laravel/sanctum                    4.3.2   Laravel Sanctum provides a featherwe...
laravel/serializable-closure       2.0.13  Laravel Serializable Closure provide...
laravel/tinker                     2.11.1  Powerful REPL for the Laravel framew...
league/commonmark                  2.8.2   Highly-extensible PHP Markdown parse...
league/config                      1.2.0   Define configuration arrays with str...
league/flysystem                   3.34.0  File storage abstraction for PHP
league/flysystem-local             3.31.0  Local filesystem adapter for Flysystem.
league/mime-type-detection         1.16.0  Mime-type detection for Flysystem
league/uri                         7.8.1   URI manipulation library
league/uri-interfaces              7.8.1   Common tools for parsing and resolvi...
mockery/mockery                    1.6.12  Mockery is a simple yet flexible PHP...
monolog/monolog                    3.10.0  Sends your logs to files, sockets, i...
myclabs/deep-copy                  1.13.4  Create deep copies (clones) of your ...
nesbot/carbon                      3.11.4  An API extension for DateTime that s...
nette/schema                       1.3.5   📐 Nette Schema: validating data s...
nette/utils                        4.1.4   🛠  Nette Utils: lightweight utili...
nikic/php-parser                   5.7.0   A PHP parser written in PHP
nunomaduro/collision               8.9.4   Cli error handling for console/comma...
nunomaduro/termwind                2.4.0   It's like Tailwind CSS, but for the ...
phar-io/manifest                   2.0.4   Component for reading phar.io manife...
phar-io/version                    3.2.1   Library for handling version informa...
phpoption/phpoption                1.9.5   Option Type for PHP
phpunit/php-code-coverage          11.0.12 Library that provides collection, pr...
phpunit/php-file-iterator          5.1.1   FilterIterator implementation that f...
phpunit/php-invoker                5.0.1   Invoke callables with a timeout
phpunit/php-text-template          4.0.1   Simple template engine.
phpunit/php-timer                  7.0.1   Utility class for timing
phpunit/phpunit                    11.5.55 The PHP Unit Testing framework.
psr/clock                          1.0.0   Common interface for reading the clock.
psr/container                      2.0.2   Common Container Interface (PHP FIG ...
psr/event-dispatcher               1.0.0   Standard interfaces for event handling.
psr/http-client                    1.0.3   Common interface for HTTP clients
psr/http-factory                   1.1.0   PSR-17: Common interfaces for PSR-7 ...
psr/http-message                   2.0     Common interface for HTTP messages
psr/log                            3.0.2   Common interface for logging libraries
psr/simple-cache                   3.0.0   Common interfaces for simple caching
psy/psysh                          0.12.23 An interactive shell for modern PHP.
ralouphie/getallheaders            3.0.3   A polyfill for getallheaders.
ramsey/collection                  2.1.1   A PHP library for representing and m...
ramsey/uuid                        4.9.2   A PHP library for generating and wor...
sebastian/cli-parser               3.0.2   Library for parsing CLI options
sebastian/code-unit                3.0.3   Collection of value objects that rep...
sebastian/code-unit-reverse-lookup 4.0.1   Looks up which function or method a ...
sebastian/comparator               6.3.3   Provides the functionality to compar...
sebastian/complexity               4.0.1   Library for calculating the complexi...
sebastian/diff                     6.0.2   Diff implementation
sebastian/environment              7.2.1   Provides functionality to handle HHV...
sebastian/exporter                 6.3.2   Provides the functionality to export...
sebastian/global-state             7.0.2   Snapshotting of global state
sebastian/lines-of-code            3.0.1   Library for counting the lines of co...
sebastian/object-enumerator        6.0.1   Traverses array structures and objec...
sebastian/object-reflector         4.0.1   Allows reflection of object attribut...
sebastian/recursion-context        6.0.3   Provides functionality to recursivel...
sebastian/type                     5.1.3   Collection of value objects that rep...
sebastian/version                  5.0.2   Library that helps with managing the...
staabm/side-effects-detector       1.0.5   A static analysis tool to detect sid...
symfony/clock                      7.4.8   Decouples applications from the syst...
symfony/console                    7.4.11  Eases the creation of beautiful and ...
symfony/css-selector               7.4.9   Converts CSS selectors to XPath expr...
symfony/deprecation-contracts      3.7.0   A generic function and convention to...
symfony/error-handler              7.4.8   Provides tools to manage errors and ...
symfony/event-dispatcher           7.4.9   Provides tools that allow your appli...
symfony/event-dispatcher-contracts 3.7.0   Generic abstractions related to disp...
symfony/finder                     7.4.8   Finds files and directories via an i...
symfony/http-foundation            7.4.8   Defines an object-oriented layer for...
symfony/http-kernel                7.4.12  Provides a structured process for co...
symfony/mailer                     7.4.12  Helps sending emails
symfony/mime                       7.4.12  Allows manipulating MIME messages
symfony/polyfill-ctype             1.37.0  Symfony polyfill for ctype functions
symfony/polyfill-intl-grapheme     1.38.0  Symfony polyfill for intl's grapheme...
symfony/polyfill-intl-idn          1.37.0  Symfony polyfill for intl's idn_to_a...
symfony/polyfill-intl-normalizer   1.38.0  Symfony polyfill for intl's Normaliz...
symfony/polyfill-mbstring          1.38.0  Symfony polyfill for the Mbstring ex...
symfony/polyfill-php80             1.37.0  Symfony polyfill backporting some PH...
symfony/polyfill-php83             1.38.0  Symfony polyfill backporting some PH...
symfony/polyfill-php84             1.38.0  Symfony polyfill backporting some PH...
symfony/polyfill-php85             1.38.0  Symfony polyfill backporting some PH...
symfony/polyfill-uuid              1.37.0  Symfony polyfill for uuid functions
symfony/process                    7.4.11  Executes commands in sub-processes
symfony/routing                    7.4.12  Maps an HTTP request to a set of con...
symfony/service-contracts          3.7.0   Generic abstractions related to writ...
symfony/string                     7.4.11  Provides an object-oriented API to s...
symfony/translation                7.4.10  Provides tools to internationalize y...
symfony/translation-contracts      3.7.0   Generic abstractions related to tran...
symfony/uid                        7.4.9   Provides an object-oriented API to g...
symfony/var-dumper                 7.4.8   Provides mechanisms for walking thro...
symfony/yaml                       7.4.12  Loads and dumps YAML files
theseer/tokenizer                  1.3.1   A small library for converting token...
tijsverkoyen/css-to-inline-styles  2.4.0   CssToInlineStyles is a class that en...
vlucas/phpdotenv                   5.6.3   Loads environment variables from `.e...
voku/portable-ascii                2.1.1   Portable ASCII library - performance...
